  body {
		background-image: url("stonehenge.jpeg");
		background-repeat: no-repeat;
		background-size: cover;

	}

	h1 { 
		color: Yellow;
		text-align: center;
		font-family: helvetica;
		font-size: 60px;
		

	}

h2 { color: white;
text-align: center;
font-size: 50px
 }

p  {
	color: white;
	text-align: center;
	font-size: 25px
}


div.containertest1 {
	height: 10em;
	position: relative;
}

div.containertest1 h2 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

div.containertest2 {
	height: 10em;
	position: relative;
	color: white;
}

div.containertest2 p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

ul {
	color: white;
	text-align: center;
	font-size: 35px;
	list-style-type: none;


}
a {
	text-decoration: none;
	color: blue;
}
